---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman

BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4

AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakTemplateDeclaration: 0

AccessModifierOffset: -2
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
---
