---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman

PackConstructorInitializers: Never
ConstructorInitializerAllOnOneLineOrOnePerLine: false

AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakTemplateDeclaration: 0

AccessModifierOffset: -2

BreakBeforeTernaryOperators: true
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakAssignment: 100

AlignAfterOpenBracket: BlockIndent

IndentCaseLabels: false
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
---
