name: Build Wheels

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      # ------------------ Build Wheels ------------------
      - name: Install UV
        uses: astral-sh/setup-uv@v6
        with: { version: "latest" }

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v3.2.0
        env:
          CIBW_BUILD_FRONTEND: "build"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_SKIP: "*-musllinux_* *-win32"
          CIBW_BUILD: "cp311-* cp312-* cp313-* cp314-*"
          CIBW_ARCHS_WINDOWS: "AMD64"
          CIBW_ENVIRONMENT: CMAKE_GENERATOR=Ninja
          CIBW_ENVIRONMENT_WINDOWS: "CC=cl CXX=cl"

          # Minimal system headers inside manylinux
          CIBW_BEFORE_ALL_LINUX: >
            yum -y install \
              cmake ninja-build \
              alsa-lib-devel pipewire-devel pulseaudio-libs-devel \
              libXrandr-devel libXcursor-devel libXi-devel libXinerama-devel libXfixes-devel libXScrnSaver-devel libXtst-devel \
              mesa-libEGL-devel mesa-libgbm-devel \
              wayland-devel wayland-protocols-devel libxkbcommon-devel \
              dbus-devel ibus-devel systemd-devel \
              libpng-devel libjpeg-turbo-devel freetype-devel flac-devel

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl
          compression-level: 0
