name: Build Wheels

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      # ------------------ Build Wheels ------------------
      - name: Install UV
        uses: astral-sh/setup-uv@v6
        with: { version: "latest" }

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v3.2.0
        env:
          CIBW_BUILD_FRONTEND: "build[uv]"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_SKIP: "*-musllinux_* *-win32"
          CIBW_BUILD: "cp311-* cp312-* cp313-* cp314-*"
          CIBW_ARCHS_WINDOWS: "AMD64"
          CIBW_ENVIRONMENT: "CMAKE_GENERATOR=Ninja PYK_VENDOR_SDL=OFF"

          CIBW_ENVIRONMENT_WINDOWS: 'CC=cl CXX=cl CMAKE_PREFIX_PATH="C:\sdl\SDL3-3.4.0;C:\sdl\SDL3_image-3.4.0;C:\sdl\SDL3_ttf-3.2.2;C:\sdl\SDL3_mixer-3.1.2"'
          CIBW_BEFORE_ALL_WINDOWS: "powershell .github/scripts/download_sdl.ps1"

          CIBW_BEFORE_ALL_LINUX: "bash .github/scripts/install_sdl_linux.sh"

          CIBW_BEFORE_ALL_MACOS: "bash .github/scripts/install_sdl_macos.sh"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl
          compression-level: 0
